<!DOCTYPE html>
<html lang="en" ng-app="chowmill">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Chow Mill</title>
</head>

<body ng-controller="foodController">
  <div class="row">
    <div>
      <h3>Food Item Add</h3>
      <form method="post" ng-submit="fooditem()">
        Foodname:
        <input type="text" ng-model="foodname" required name="foodname">
        <br><br> Image:
        <input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" required/>
        <br><br> Price:
        <input type="number" ng-model="price" required name="price">
        <br><br> Qty:
        <input type="number" ng-model="qty" required name="qty">
        <br><br> Chef Email:
        <input type="email" ng-model="mail" required name="mail">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
  <!-- https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_AE1uBr2nGeAv7UUJ2xN9tz15aMFAXpfN&scope=read_write&state=bhavanpatel@jacksolutions.bizstripe_user[url]=https://chowmill.com&stripe_user[business_type]=sole_prop&stripe_user[product_description]=FoodDelivery&stripe_user[business_name]=CHOWMILL INC.&stripe_user[email]=bhavanpatel@jacksolutions.biz -->
  <script src="./javascripts/jquery.min.js"></script>
  <script src="./javascripts/bootstrap.js"></script>
  <script src="./javascripts/angular.js"></script>
  <script src="./javascripts/angular-route.js"></script>
  <script src="./javascripts/ng-file-upload-shim.min.js"></script>
  <script src="./javascripts/ng-file-upload.min.js"></script>
  <script type="text/javascript">
    var chowmill = angular.module('chowmill', ['ngRoute', 'ngFileUpload']);

    chowmill.controller('foodController', ['$scope', '$http', 'Upload', function($scope, $http, Upload) {
      function upload(file, callback) {
        if (file) {
          Upload.upload({
            url: '/upload', //webAPI exposed to upload the file
            data: {
              file: file
            }, //pass file as data, should be user ng-model

          }).then(function(resp) { //upload function returns a promise
            if (resp.data.error_code === 0) { //validate success
              callback(true, resp.data.path);
            } else {
              callback(false, '');
            }
          }, function(resp) { //catch error
            console.log('Error status: ' + resp.status);
          }, function(evt) {
            var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
          });
        } else {
          callback(true, '');
        }
      }

      $scope.fooditem = function() {
        upload($scope.file, function(resp, path) {
          $scope.path = path;
          var food = {
            "foodname": $scope.foodname,
            "file": $scope.path,
            "price": $scope.price,
            "qty": $scope.qty,
            "mail": $scope.mail,
          }
          // $http.post("/addFood", food).success(function(data) {
          //   $scope.fooddata = null;
          // })
        });
      }
    }]);
  </script>
</body>

</html>
