<!DOCTYPE html>
<html>

<head>
  <title>success</title>
  <script type="text/javascript">
    function postmessagetoapp() {
      window.parent.postMessage('Success', "*");
    }
  </script>
</head>

<body onload="setTimeout(postmessagetoapp, 2500);">
  <div style="position: absolute;top: 50%;left:50%;transform: translate(-50%,-50%);">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-12">
          <center>
            <h2 style="color:#0fad00">Success</h2>
            <img src="../images/check-true.jpg" />
            <h3>Successfully Connected With Stripe</h3>
          </center>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
